{% extends "base.html.twig" %}

{% block title %}Visiteur:create{% endblock %}

{% block body %}
    <h2 class="page-header">Ajout Visiteur</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
